jupyterlab_server==2.25.1
jupyterlab-widgets==3.0.9
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.1.11
langchain-community==0.0.28
langchain-core==0.1.31
langchain-experimental==0.0.53
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langsmith==0.1.23
lazy_loader==0.3
lazy-object-proxy==1.6.0
lckr_jupyterlab_variableinspector==3.1.0
libarchive-c==2.9
libmambapy==1.5.6
